   
/*==============================
General Styles
==============================*/
.navbar-brand {
    height:80px;
}
.nav .navbar-right {
    
}

 .navbar-default .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
          color: #fff;
          background-color: #7EACFF; 
      }
 h3 {
padding: 15px 5px;
font-weight: 900;
text-transform: uppercase;
}
 section {
    padding-top:120px;
     
}

/* =============================================================
  HOME SECTION STYLES
 ============================================================ */
#home-sec {
    
    background: url('home.jpg') no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}

    #home-sec .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        min-height: 600px;
    }

    #home-sec h1 {
        line-height: 60px;
        font-size: 45px;
        font-weight: 900;
        color: #fff;
    }

    #home-sec mark {
        background-color: rgba(21, 236, 121, 0.5);
        color: #fff;
        padding: 10px 5px 10px 19px;
        margin: 0px 15px 0px 8px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

.home-p {
    line-height: 30px;
    color: #E0E0E0;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/* =============================================================
  ABOUT SECTION STYLES
 ============================================================ */
#about-sec {
    background-color: #ededed;
    font-size:16px;
    padding-bottom:50px;
}
/* =============================================================
  DESCRIPTION SECTION STYLES
 ============================================================ */
#description-sec {
    padding-bottom:50px;
}

    #description-sec p {
        font-size:20px;
        line-height:35px;
    }
    /* =============================================================
  CONTACT SECTION STYLES
 ============================================================ */
#contact-sec {
    background-color: #ededed;
    font-size:16px;
    padding-bottom:50px;
}

 /* =============================================================
  FOOTER SECTION STYLES
 ============================================================ */
.footer {
    padding:20px;
    font-size:15px;

}
.footer a ,.footer a:hover {
    color:rgba(0, 0, 0, 0.75);
    text-decoration:none;
}
.goods_ul {
    margin: 0 auto;
    display: block;
    width: 1200px;
}
ul, li {
    list-style: none;
}

.template {
    display: block;
    cursor: pointer;
    width: 280px;
    float: left;
    height: 500px;
    margin-right: 26px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 26px;
    overflow: hidden;
    background-color: white;
    position: relative;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.template .imgbtn {
    display: block;
    width: 240px;
    height: 240px;
    overflow: hidden;
    transition: height .1s linear;
    position: relative;
}
.template .imgbtn img {
    width: 240px;
    height: 240px;
}
.template .temcon {
    margin-top: 30px;
}
.template h4 {
    color: #37474f;
    font-size: 14px;
    width: 200px;
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.template .pv {
    font-size: 12px;
    color: #a3afb7;
    float: right;
}

     